page-profile {
    
    .roundedImage{
        overflow:hidden;
        -webkit-border-radius:50%;
        -moz-border-radius:50%;
        border-radius:50%;
        width:150px;
        height:150px;
        margin-left:auto;
        margin-right:auto;
    }


}
